/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
composer.lock
package-lock.json
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/download.xlsx
