@import "flatpickr/dist/flatpickr.min.css";

@import "tailwindcss";
@import '../../vendor/power-components/livewire-powergrid/resources/css/tailwind4.css';

@plugin "daisyui" {
    themes: all;
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));

@source '../../app/Livewire/*Table.php';
@source '../../app/Livewire/**/*Table.php';
@source '../../vendor/power-components/livewire-powergrid/src/Themes/Tailwind.php';
@source '../../vendor/power-components/livewire-powergrid/resources/views/**/*.php';

[x-cloak] {
    display: none !important;
}

.about-example a:link, .about-example a:visited {
    color: #D97706;
    text-decoration: underline;
}

.about-example a:hover {
    color: #FBBF24;
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-base-300, currentColor);
    }
}

.shiki {
    @apply !bg-transparent
}

[wire\:target^="toggleDetail"] svg {
    @apply text-base-content
}
